/* Global Styles */
body {
    background-color: #18171F;
    color: #E6E5EA;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 550px;
}

.second-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
   background: #24242C;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #aaa;
    margin-bottom: 20px;
}

/* Password Display */
.password-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24242C;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.password-display{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
}

.password {
    display: flex;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
}

.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    justify-content: space-between;
}

.copy-btn img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img:hover{
    filter: grayscale(100%) brightness(200%);
    color: #E6E5EA;
}

/* Slider Styling */
input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 6px;
    background: #18171F;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}

/* Slider Thumb (Handle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 18px;
    height: 16px;
    background: #ffffff; 
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}


/* Hover Effects */
input[type="range"]::-webkit-slider-thumb:hover {
    background: #000000; 
    border-color: #A4FFAF;
    border: 2px solid #A4FFAF;
}

/* Active State */
input[type="range"]:active::-webkit-slider-thumb {
    background: #000000; 
    border-color: #A4FFAF; 
}


.setting-label {
    font-size: 0.9rem;
}

.lengthSlider {
    font-size: 1rem;
    color: #A4FFAF;
}

/* Checkbox List */
.checkbox-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.checkbox-list li {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    border: 1px solid white;
    accent-color: #A4FFAF;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    background: #A4FFAF;
    content: url(./assets/images/icon-check.svg);
    border: none;
}

/* Strength Indicator */
.strength-container,.characters {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.strength-label {
    font-size: 0.9rem;
    background-color: transparent;
}

.strength-display {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.strength-text {
    font-size: 0.9rem;
    color: #E6E5EA;
}

.strength-bars {
    display: flex;
    gap: 4px;
}

.bar {
    width: 8px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
}

.bar.active {
    background-color: #A4FFAF;
}

/* Generate Button */
.generate-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #A4FFAF;
    color: #0f0f1a;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.generate-btn:hover {
    background-color: #24242C;
    color: #A4FFAF;
    border: 1px solid #A4FFAF;
}

.generate-btn:hover .fill-icon{
   fill: #A4FFAF;
}